# API Configuration
NEXT_PUBLIC_API_URL="http://localhost:3000"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3001"
NEXTAUTH_SECRET="your-secret-key-here"

# Environment
NODE_ENV="development"
